############################
#IntelliJ
############################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig


############################
#Visual Studio Code
############################
.vscode/

############################
#Maven
############################
/log/
/target/


############################
#Gradle
############################
.gradle/
/build/


############################
#MacOS
############################
.DS_Store
.svn

#Thumbnails
._*


